<!DOCTYPE html>
	<html>
		<!--head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head-->

		{% include head.html %}

		<body>
			{% include header.html %}
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!--footer>
	    		<ul>
	        		<li><a href="mailto:agrija9@gmail.com">email</a></li>
	        		<li><a href="https://github.com/agrija9">github.com/agrija9</a></li>
				</ul>
			</footer-->
			{% include footer.html %}
		</body>
	</html>
